-- Add detailed quotation system for maintenance tickets
-- Creates a separate table for quotation items with detailed breakdown

CREATE TABLE IF NOT EXISTS `maintenance_quotation_items` (
  `id` INT(11) UNSIGNED NOT NULL AUTO_INCREMENT,
  `ticket_id` INT(11) UNSIGNED NOT NULL,
  `item_description` VARCHAR(255) NOT NULL,
  `quantity` INT(11) NOT NULL DEFAULT 1,
  `unit_price` DECIMAL(12,2) NOT NULL,
  `total_price` DECIMAL(12,2) NOT NULL,
  `item_type` ENUM('material','labor','equipment','other') DEFAULT 'material',
  `created_at` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  `updated_at` TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  FOREIGN KEY (`ticket_id`) REFERENCES `maintenance_tickets`(`id`) ON DELETE CASCADE,
  INDEX `idx_ticket` (`ticket_id`),
  INDEX `idx_item_type` (`item_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Update maintenance_tickets table to support detailed quotations
ALTER TABLE `maintenance_tickets`
ADD COLUMN `has_detailed_quotation` BOOLEAN DEFAULT FALSE AFTER `quote_status`,
ADD COLUMN `quotation_submitted_at` DATETIME NULL AFTER `has_detailed_quotation`,
ADD COLUMN `quotation_notes` TEXT NULL AFTER `quotation_submitted_at`;

-- Add status to track detailed quotation workflow
ALTER TABLE `maintenance_tickets`
MODIFY `quote_status` ENUM('none','draft','submitted','approved','rejected') DEFAULT 'none';
